<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.example.dt.unit.audiounit.aumu</string>
    <key>Ancestors</key>
    <array>
      <string>com.example.dt.unit.audiounit.aubase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a monotimbral music device unit.</string>
    <key>Targets</key>
    <array>
      <dict>
	<key>TargetIdentifier</key>
	<string>com.example.audiounit.aumu</string>
	<key>SharedSettings</key>
	<dict>
          <key>GCC_PREFIX_HEADER</key>
          <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER____Prefix.pch</string>
          <key>GCC_PRECOMPILE_PREFIX_HEADER</key>
          <string>YES</string>
          <key>GCC_PREPROCESSOR_DEFINITIONS</key>
          <string>CA_USE_AUDIO_PLUGIN_ONLY CA_AUTO_MIDI_MAP $(inherited)</string>
	</dict>
	<key>BuildPhases</key>
	<array>
	  <dict>
	    <key>Class</key>
	    <string>Sources</string>
	  </dict>
	  <dict>
	    <key>Class</key>
	    <string>Frameworks</string>
	  </dict>
	  <dict>
	    <key>Class</key>
	    <string>Resources</string>
	  </dict>
	</array>
        <key>Frameworks</key>
        <array>
          <string>CoreMIDI</string>
          <string>AudioToolbox</string>
          <string>CoreServices</string>
          <string>AudioUnit</string>
        </array>
      </dict>
    </array>
    <key>Options</key>
    <array>
      <dict>
	<key>Identifier</key>
	<string>audioUnitType</string>
        <key>Default</key>
        <string>aumu</string>
      </dict>
    </array>
    <key>Nodes</key>
    <array>
      <string>___PACKAGENAMEASIDENTIFIER___.h</string>
      <string>___PACKAGENAMEASIDENTIFIER___.cpp</string>
      <string>___PACKAGENAMEASIDENTIFIER___Version.h</string>
      <string>___PACKAGENAMEASIDENTIFIER____Prefix.pch</string>
      <string>AUPublic/AUInstrumentBase/AUInstrumentBase.cpp</string>
      <string>AUPublic/AUInstrumentBase/AUInstrumentBase.h</string>
      <string>AUPublic/AUInstrumentBase/LockFreeFIFO.h</string>
      <string>AUPublic/AUInstrumentBase/MIDIControlHandler.h</string>
      <string>AUPublic/AUInstrumentBase/SynthElement.cpp</string>
      <string>AUPublic/AUInstrumentBase/SynthElement.h</string>
      <string>AUPublic/AUInstrumentBase/SynthEvent.h</string>
      <string>AUPublic/AUInstrumentBase/SynthNote.cpp</string>
      <string>AUPublic/AUInstrumentBase/SynthNote.h</string>
      <string>AUPublic/AUInstrumentBase/SynthNoteList.cpp</string>
      <string>AUPublic/AUInstrumentBase/SynthNoteList.h</string>
      <string>AUPublic/OtherBases/AUMIDIBase.cpp</string>
      <string>AUPublic/OtherBases/AUMIDIBase.h</string>
      <string>AUPublic/OtherBases/MusicDeviceBase.cpp</string>
      <string>AUPublic/OtherBases/MusicDeviceBase.h</string>
      <string>AUPublic/Utility/AUBaseHelper.cpp</string>
      <string>AUPublic/Utility/AUBaseHelper.h</string>
      <string>AUPublic/Utility/AUMIDIDefs.h</string>
      <string>PublicUtility/CAAUMIDIMap.cpp</string>
      <string>PublicUtility/CAAUMIDIMap.h</string>
      <string>PublicUtility/CAAUMIDIMapManager.cpp</string>
      <string>PublicUtility/CAAUMIDIMapManager.h</string>
      <string>PublicUtility/CAAtomic.h</string>
      <string>PublicUtility/CAAtomicStack.h</string>
      <string>PublicUtility/CAByteOrder.h</string>
      <string>PublicUtility/CAAudioChannelLayout.cpp</string>
      <string>PublicUtility/CAAudioChannelLayout.h</string>
      <string>PublicUtility/CAAutoDisposer.h</string>
      <string>PublicUtility/CABufferList.cpp</string>
      <string>PublicUtility/CABufferList.h</string>
      <string>PublicUtility/CADebugMacros.h</string>
      <string>PublicUtility/CADebugPrintf.cpp</string>
      <string>PublicUtility/CADebugPrintf.h</string>
      <string>PublicUtility/CAException.h</string>
      <string>PublicUtility/CAHostTimeBase.cpp</string>
      <string>PublicUtility/CAHostTimeBase.h</string>
      <string>PublicUtility/CAMath.h</string>
      <string>PublicUtility/CAMutex.cpp</string>
      <string>PublicUtility/CAMutex.h</string>
      <string>PublicUtility/CAReferenceCounted.h</string>
      <string>PublicUtility/CAStreamBasicDescription.cpp</string>
      <string>PublicUtility/CAStreamBasicDescription.h</string>
      <string>PublicUtility/CAThreadSafeList.h</string>
      <string>PublicUtility/CAVectorUnit.cpp</string>
      <string>PublicUtility/CAVectorUnit.h</string>
      <string>PublicUtility/CAVectorUnitTypes.h</string>
      <string>PublicUtility/CAXException.cpp</string>
      <string>PublicUtility/CAXException.h</string>
    </array>

    <key>Definitions</key>
    <dict>

      <key>___PACKAGENAMEASIDENTIFIER___.h</key>
      <dict>
        <key>Path</key>
        <string>___PACKAGENAMEASIDENTIFIER___.h</string>
        <key>Group</key>
        <string>AU Source</string>
        <key>SortOrder</key>
        <integer>-4</integer>
      </dict>

      <key>___PACKAGENAMEASIDENTIFIER___.cpp</key>
      <dict>
        <key>Path</key>
        <string>___PACKAGENAMEASIDENTIFIER___.cpp</string>
        <key>Group</key>
        <string>AU Source</string>
        <key>SortOrder</key>
        <integer>-3</integer>
      </dict>

      <key>___PACKAGENAMEASIDENTIFIER___Version.h</key>
      <dict>
        <key>Path</key>
        <string>___PACKAGENAMEASIDENTIFIER___Version.h</string>
        <key>Group</key>
        <string>AU Source</string>
        <key>SortOrder</key>
        <integer>-2</integer>
      </dict>

      <key>___PACKAGENAMEASIDENTIFIER____Prefix.pch</key>
      <dict>
        <key>Path</key>
        <string>___PACKAGENAMEASIDENTIFIER____Prefix.pch</string>
        <key>SortOrder</key>
        <integer>-1</integer>
      </dict>

      <key>AUPublic/AUInstrumentBase/AUInstrumentBase.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/AUInstrumentBase.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/AUInstrumentBase.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/AUInstrumentBase.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/LockFreeFIFO.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/LockFreeFIFO.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/MIDIControlHandler.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/MIDIControlHandler.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthElement.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthElement.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthElement.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthElement.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthEvent.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthEvent.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthNote.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthNote.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthNote.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthNote.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthNoteList.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthNoteList.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/AUInstrumentBase/SynthNoteList.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/AUInstrumentBase/SynthNoteList.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>AUInstrumentBase</string>
        </array>
      </dict>
      <key>AUPublic/OtherBases/AUMIDIBase.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/OtherBases/AUMIDIBase.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>OtherBases</string>
        </array>
      </dict>
      <key>AUPublic/OtherBases/AUMIDIBase.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/OtherBases/AUMIDIBase.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>OtherBases</string>
        </array>
      </dict>
      <key>AUPublic/OtherBases/MusicDeviceBase.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/OtherBases/MusicDeviceBase.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>OtherBases</string>
        </array>
      </dict>
      <key>AUPublic/OtherBases/MusicDeviceBase.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/OtherBases/MusicDeviceBase.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>OtherBases</string>
        </array>
      </dict>
      <key>AUPublic/Utility/AUBaseHelper.cpp</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/Utility/AUBaseHelper.cpp</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>Utility</string>
        </array>
      </dict>
      <key>AUPublic/Utility/AUBaseHelper.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/Utility/AUBaseHelper.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>Utility</string>
        </array>
      </dict>
      <key>AUPublic/Utility/AUMIDIDefs.h</key>
      <dict>
        <key>Path</key>
        <string>AUPublic/Utility/AUMIDIDefs.h</string>
        <key>Group</key>
        <array>
          <string>AUPublic</string>
          <string>Utility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAUMIDIMap.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAUMIDIMap.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAUMIDIMap.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAUMIDIMap.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAUMIDIMapManager.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAUMIDIMapManager.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAUMIDIMapManager.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAUMIDIMapManager.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAtomic.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAtomic.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAtomicStack.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAtomicStack.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAByteOrder.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAByteOrder.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAudioChannelLayout.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAudioChannelLayout.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAudioChannelLayout.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAudioChannelLayout.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAAutoDisposer.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAAutoDisposer.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CABufferList.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CABufferList.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CABufferList.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CABufferList.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CADebugMacros.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CADebugMacros.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CADebugPrintf.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CADebugPrintf.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CADebugPrintf.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CADebugPrintf.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAException.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAException.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAHostTimeBase.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAHostTimeBase.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAHostTimeBase.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAHostTimeBase.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAMath.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAMath.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAMutex.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAMutex.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAMutex.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAMutex.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAReferenceCounted.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAReferenceCounted.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAStreamBasicDescription.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAStreamBasicDescription.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAStreamBasicDescription.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAStreamBasicDescription.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAThreadSafeList.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAThreadSafeList.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAVectorUnit.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAVectorUnit.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAVectorUnit.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAVectorUnit.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAVectorUnitTypes.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAVectorUnitTypes.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAXException.cpp</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAXException.cpp</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>
      <key>PublicUtility/CAXException.h</key>
      <dict>
        <key>Path</key>
        <string>PublicUtility/CAXException.h</string>
        <key>Group</key>
        <array>
          <string>PublicUtility</string>
        </array>
      </dict>

    </dict>
  </dict>
</plist>
